<div class="container mt-2">
  <!-- Tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <button
        class="nav-link active"
        id="home-tab"
        data-bs-toggle="tab"
        data-bs-target="#home"
        type="button"
        role="tab"
        aria-controls="home"
        aria-selected="true"
      >
        Add User
      </button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <form [formGroup]="userForm" (ngSubmit)="addUser()">
        <!-- Form Fields -->
        <div class="row mt-2 d-flex">
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Name :</label>
            <input
              type="text"
              class="form-control"
              name="Name" 
              formControlName="Name"
              id="formGroupExampleInput"
              placeholder="Enter Name"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Email Id:</label>
            <input
              type="email"
              class="form-control"
              name="EmailId"
              formControlName="EmailId"
              id="formGroupExampleInput2"
              placeholder="Enter Email Id"
            />
          </div>
        </div>
        <!-- Buttons -->
        <div class="row mt-2 d-flex btns">
          <div class="col">
            <button type="submit" class="btn me-1 btn-primary">Add</button>
            <button type="reset" class="btn ms-1 btn-secondary">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- User List -->

<div class="container mt-4">
  <h3>User List</h3>
  <div class="card" *ngIf="userList.length > 0; else noUsers">
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of userList">
          <div>
            <strong>Name:</strong> {{ user.name }} <br />
            <strong>Email:</strong> {{ user.email }}
          </div>
          <div>
            <button class="btn btn-sm btn-warning me-2" [routerLink]="['/edit-user', user.id]">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">Delete</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noUsers>
    <p class="text-muted">No users added yet.</p>
  </ng-template>
</div>


  <router-outlet></router-outlet>   





